footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 2rem;
    font-size: 2rem;
    background-color: var(--color-secondary);
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer span {
    color: var(--text-corlor-secondary);
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 1.2rem;
    height: 5rem;
    width: 35rem;
}

.stats button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-btn-primary);
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 1.6rem;
    border: transparent;
    border-radius: 2.5rem;
    height: 5rem;
    width: 16rem;

    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3),
        inset 0 4px 4px rgba(255, 255, 255, 0.2);
}

.stats button:hover {
    color: var(--color-btn-primary);
    background-color: var(--color-white);
    font-weight: 600;
}

footer img {
    width: 9rem;
}

footer img:hover {
    transform: scale(1.2);
}

@media (max-width: 1024px) {
    footer {
        gap: 1rem;
    }
    .timer {
        width: 32rem;
    }
}

@media (max-width: 600px) {
    footer {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .timer {
        width: 30rem;
    }
}
